.back_img {
    text-align: center;
    padding: 100px 0;
    background: url(wall.jpg), linear-gradient(-90deg, #204384, #183984);
    background-size: cover;
    background-repeat: repeat-x;
    max-width: 100%;
    height: auto;
}